
.navbar {
    background: rgba(255, 255, 255, 0.7);
    }

.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100vh; /* Imposta l'altezza del contenitore alla dimensione della finestra del browser */
  }
  
.center-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }

  .center-box > * {
    margin: 0 20px;
  }

  .box {
    border-color: #bd0101;
    }

#hiddenCustom {
    display: none;
    padding-bottom: 2%;
    
    }
