.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100vh; /* Imposta l'altezza del contenitore alla dimensione della finestra del browser */
  }
  
  .center-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }
  
  /* Imposta i margini sui lati del box centrale per mantenere la distanza dalla colonna laterale */
  .center-box > * {
    margin: 0 20px;
  }
  
  /* Imposta lo sfondo dei box per distinguerli */
  .box {
  border-color: #bd0101;
  }
  