
 

 p {
   text-align: center;
   margin-bottom: 1%;
 }
 .row {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--bs-gutter-y));
   margin-right: calc(-0.5 * var(--bs-gutter-x));
   margin-left: calc(-0.5 * var(--bs-gutter-x));
 }
 .flip-clock-wrapper {
   max-width: 460px;
   margin: 2em auto 2em;
   display: flex;
   justify-content: center;
   z-index: -1;
 }


  .col-md-6 {
    flex: 0 0 auto;
    width: 33.333333333%;
  }
  
  .col-md-4 {
    display: flex;
    justify-content: center;
    width: 35%;
    margin-bottom: 5%;
  }
  
  .col-md-2 {
    display: flex;
    justify-content: center;
    height: 34px;
    align-items: center;
  }
  
  .counter {
    display: flex;
    justify-content: center;
  }
  
  

  .flip-clock-wrapper ul li a div div.inn {
    background-color: #494949;
    color: #f7f1eb;
  }

  .clock {
    margin-top: 30px;
    
  }
  
  #switchRow {
    justify-self: end;
    padding-bottom: 10px;
    /*margin-top: 66px; */  
    vertical-align: auto;
    width: 80px;
    padding-top: 10px;
    margin-right: 20px;
   
  }

  #finalCol {
    width: 100px;
  }

  #buttonsArea {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .middle {
    display: inline-block;
  }
  
  #btns {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    align-self: center;
    justify-self: center;
  }
  
  #skip {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btn {
    background-color: #494949;
    color: #f7f1eb;
  }
  
  #sessInc, #sessDec, #breakInc, #breakDec {
    font-weight: bold;
    
  }
  
  #stats {
    background-color: #494949;
    width: 230px;
    height: 70px;
    border-radius: 10px;
    color: #f7f1eb;
    font-size: 35px;
    text-align: center;
    padding-top: 7px;
  }
  
  #statRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
  }




  



