
.navbar {
    background: #f7f1eb;
    position: fixed;
    }
    body {
      background: url("../img/pomoSfondo.jpg") no-repeat center center fixed;
      background-size: cover;
     }

.cnt {
    display: grid;
    height: 100vh; /* Imposta l'altezza del contenitore alla dimensione della finestra del browser */
    padding-top: 17vh;

  }



.center-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }

  .center-box > * {
    margin: 0 20px;
  }

  .box {
    border-color: #bd0101;
    }

  .popup{
    
    width: 200px;
	  height: 400px;
	  background: #fefefe;

	  padding: 10px 20px;
	  position: relative;
	  color: #333;
  }

  .overlay{
    position: absolute; /* schermo intero*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000px;
    background: rgba(0,0,0,0.7); /* colore sfondo e opcità */
    text-align: center;
    display: none; /*cambiaremo in display: none*/
    z-index: 3;
  }



  .close {
    cursor: pointer;
  }

  .top-immagine img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  /* .profilePic{    
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  } */

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
  }
  /*DROPDOWN -------------------------------------------------------------------*/

.dropbtn {
  background-color: transparent;
  color: black;
  padding: .5rem .75rem .375rem .75rem;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px .5rem 1rem rgba(0,0,0,.15);
  z-index: 1;
}

.dropdown-content a {
  color: #212529;
  padding: .25rem 1.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f8f9fa;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

/*------------------------------------------------------------------------------------------------------*/

.largeButton{
  font-size: 0.8vw;
  border: none;
  border-radius: 10px;
  padding: 2px 4px;
  width: 65%;
  height: 75%;
}

.largeWhiteButton{
  color: black;
  background-color: rgb(229, 224, 224);
}

.largeRedButton{
  color: white;
  background-color: rgb(230, 88, 88);
  
}
