#infoImg {
  height: 20px;
  width: 10px;
  cursor: pointer;
  margin-left: 6px;
  
}



#settingsImg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}


/*.container-fluid {
  height: 50px;
}*/

.cnt {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh; /* Imposta l'altezza del contenitore alla dimensione della finestra del browser */
  padding-top: 20vh;
}

.cnt {
  grid-template-columns: 25% 50% 25%;
}
#infoPop {
  margin: auto auto;
  padding: 1%;
  height: fit-content;
  width: 400px;
}
#infoClose{
	position: absolute;
	top: -20px;
	right: -20px;
	color: #fff;
}
#hiddenCustom {
  display: none;
  padding-bottom: 2%;
  }

#hiddenRow {
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rotate{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate.down{
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform:rotate(360deg);
}



#box3 {
  z-index: -2;
}









