/*----- container totale della parte task -----*/
#taskBox{

    background:  #494949; 
    color: #f4e9dc;
    border-radius: 22px;
    width: 500px;
    margin-bottom: 30px;
    }




/*-------- container di input --------*/
#newtask{
    position: relative;
    padding: 15px 20px;
    width: 500px;
    
    }

    #newtask input:focus{
        outline: none;
        border-color: #0d75ec;
      }


    /*settaggio input text (box di input titolo task)*/
    input[type='text']{
        width:293px;
        background-color: #f7f1eb;
        border-color: transparent;
        border-radius: 7px;
        
    }

    input[type='number'].params {
        width: 45px;
        appearance: textfield;
    }

    input[type=number].params::-webkit-inner-spin-button,
    input[type=number].params::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*settaggio input number (box di input numero pomodori)*/
    input[class='x']{
        width:35px;
        cursor:default;
        margin-left: 7px;
    } 

    /*button del pannello di input task*/
    #newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #e85e56;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 22%;
    height: 40px;
    border-radius: 7px;
    font-family: 'Poppins',sans-serif;
    }

    /*----- container switch modalità task -----*/
    #modalitaTaskSwitch {
        text-align: left;
        padding-bottom: 2%;
        }

        
    /*----- numero pomodori in input ------*/
    #pomoTaskNumber {
        width: 45;
      }
    /*----- pannello nuove task -----*/
    #tasks{
    border-radius: 15px;
    width: 470p;
    position: relative;
    background-color:  #eeeeee;
    padding: 15px 15px;
    margin-top: 40px;
    
    overflow-y: auto;
    max-height: 300px;
    }

    #automatic-delete{
        margin-top: 13px;
        margin-bottom: 13px;
        font-weight: 500;
        font-size: 17px;
        color: #3a3939
    }

    .roundBtnHomeTop{
        border-radius: 5px;
    }

    .roundBtnHomeBottom{
        border-radius: 5px;
    }
    
    .bottomTag{
        margin-left: 12px;
    }


   