@media only screen and (max-width: 576px) {
    .cnt {
        width: 100%;
    }

    #taskUse {
        width: 90%;
    }

    .center-box {
        width: 100%;
      }

    .box {
        width: 100%;
    }
    
     #buttonsArea {
        width: 100%;
    }

    #taskBox {
        width: 170%;
    }

    #timeEstimated {
        padding: 25px;
    }

    #selectTaskArea {
        border-radius: 20px;
    }

    #modalitaTaskSwitch {
        width: 100%;
    }
}
