#tasks {
  max-width: 475px;
  width: 95%;
  justify-self: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f1eb;
  height: fit-content;
  margin-bottom: 10px;
}

/*----- nuova task -----*/
.task{
    border-radius: 7px;
    justify-self: center;
    border: 1px solid #e7645d;
    /*cursor: pointer;*/
    background-color: #e7645d;
    width: 100%;
    margin-top: 8px;
    align-content: space-between;
    display: grid;
    grid-template-columns: 8% 5% 69% 10% 8%;
    justify-content: space-between;
    padding: 0%;
    margin-right: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
  }

/*----- classe task allargata con pulsante options premuto -----*/
.taskShowed{
    border-radius: 5px;
    /* justify-content: space-between; */
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #ff766f;
    height: 150px;
    width: 450px;
    margin-bottom: 8px;
    padding: 5px 1px;
    align-content: space-between;
    display: grid;

} 


  #taskname {
    background-color: #f7f1eb;
    border-radius: 7px;
    border-color: transparent;
    width: 100%;
  }

  .x {
    background-color: #f7f1eb;
    border-radius: 7px;
    border-color: transparent;
  }


  .taskShowed:has(#taskFieldInput) {
    cursor: pointer;
    
  }
    /*----- hover tasks -----*/
    .task:hover {
        background-color: #fc9690;
        border-color: #fc9690;
    }
  
    .taskShowed:hover {
        background-color:  #bfc1c2;
    }

    .task span{
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
    }

  /*----- classi pulsanti delle task -----*/
  .task button{
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  #deleteImg {
    width: 10;
    margin-top: 6px;
    margin-left: 10px;
  }

  .taskOption {
  cursor: pointer;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  width: 15px;
  height: 20px;
  margin-bottom: 7px;
}

.taskImg {
  height: 20px;
  width: 20px;
  cursor: pointer;

  margin-bottom: 2px;
}

.popupSwap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px; 
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#closePopup {
  position: fixed;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
}

.indexTasks{
  width: 90%;
  margin-left: 2px;
  font-weight: bold;
  margin-top: 5px;
}
.endedTasks{
  background-color:grey;
}

.hiddenOption{
  display: none; 
  margin-top: 2px;
} 

#hiddenNote {
  margin-top: 5px;;
  margin-left: 58px;
  width: 985%;
  resize: none;
  border-radius: 7px;
  border-color: transparent;
  background-color: #f7f1eb;
}
