
@media (max-width: 992px) {

  .containerAmici{
    grid-template-columns: none;
    height: 170vh;
    grid-template-rows: 45% 55%;
  }

  #amiciPanel{
    height: 70vh;
    width: 80vw;
    min-height: 510px;
  }

  #boxdx{
    width: 80vw;
    min-height: 600px;
  }
  
}

@media (max-height: 750px) and (max-width: 992px){
  .containerAmici{
    grid-template-rows: 550px auto;
  }  

}

@media (min-width: 730px) and (max-width: 992px){
  .largeButton{
    height: 62%;
    width: 62%;
  }
}