
/*complessivo*/
body{
    background-size: cover;
  }

.containerAmici {
    padding-top: 8vh;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 98vh;
  }

  
/*pannello a sinistra*/
#amiciPanel {
  border-style: solid;
  height: 68%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  margin-top: 2.5%;
  background-color: #494949;
  }

#amiciBox{ 
  background-color: #EBE8E4;
  display: grid;
  width: 95%;
  overflow-y: scroll;
  max-height: 83.5%;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
}


.amico {
  grid-template-columns: 43% 20% 20%;
}



.utente{
  justify-content: center;
  font-size: 1.2vw;
  font-weight: 500;
  border-bottom: 1px solid #a29e9e;
  padding-top: 0.65%;
  padding-bottom: 0.65%;
  width: 100%;
  display: grid;
  text-align: left;
}

/*sezione destra*/

#boxdx{
  height: 69%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 45% 55%;
  align-items: left;
}

#searchBox {
  text-align: left;
  height: 20%;
}

#suggBox {
  border-style: solid;
  border-color: black;
  height: 75%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #494949;
  border-radius: 15px;
}

.suggAmico {
  grid-template-columns: 36% 16% 10%;
}



.titlesAmici{
  font-size: 2.2vw;
  background-color: transparent;
  text-align: center;
  padding-bottom: 2%;
  color: #f7f1eb;;
  font-weight:500;
}


.amico > * {
  margin: 3.6%;
}
    
.suggAmico > * {
  margin: 3.6%;
}

.roundRedButton{
  width: 1.3vw;
  height: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: rgb(230, 88, 88);
  border: none;
  border-radius: 50%;
}

.sendRequestButton{
  font-size: 1.4vw;
  padding: 2% 2%;
  padding-bottom: 9.5%;
  margin-top: 9.5%;
  margin-left: 5%;
}

.richiesta{
  border-style: solid;
  border-color: black;
  height: 49%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #494949;
  border-radius: 15px;
  margin-bottom: 3%;
}

#outgoingR{
  max-height: 50%;
}

.boxRichieste{
  display: grid;
  overflow-y: scroll;
  max-height: 48%;
  background-color: #EBE8E4;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}



#suggested{
  display: grid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60%;
  background-color: #EBE8E4;
  padding-bottom: 1%;
  
}

#incoming-title{
  padding-bottom: 2.5%;
}


.request {
  display: flex;
  justify-content: center;

}

.request > * {
  margin: 3.6%;
}

.incomingReq {
  grid-template-columns: 36% 16% 10%;;
}

.incomingReq > * {
  margin: 3.6%;
}

.outgoingReq {
  grid-template-columns: 40% 20%;
  padding-top: 1%;
}

.delOutgoingReq{
  margin-top: 4%;
  padding-top: 0.5%;
}

.delIncomingReq{
  font-size: 1.1vw;
  padding: 2% 2%;
  padding-bottom: 9.5%;
  margin-top: 9.5%;
  margin-left: 5%;
}

.acceptIncomingReq{
  color: transparent;
  text-shadow: 0 0 0 white;
  background-color: green;
  font-size: 0.7vw;
  padding: 0% 2%;
  padding-bottom: 4%;
  margin-top: 4.8%;
  margin-left: 5%;
}


/*.largeButton{
  font-weight: 500;
}*/


