.container {
    margin-top: 66px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    
  }

#selectDatePanel {
  width: 480px;
  height: 40px;
}

#currentPeriod {
  height: 40px;
  background-color: white;
  text-align: center;
}

#tasksPanel{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
 

  overflow-y: auto;
  max-height: 610px;
}

#reportPanel {
  border-style: solid;
  height: 700px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: absolute;
  
}

#chartPanel {
  border-style: solid;
  height: 700px;
  width: fit-content;
  margin-left: 600px;
  margin-right: auto;
  background-color: white;
  position: absolute;
}

.task {
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  width: 426px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 7px;
  margin-right: 7px;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
}

#endedTaskname {
  width: 300px;
  height : 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#endedPomos {
  width: 40px;
  height : 30px;
  margin-left: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#endedDeleteImg {
  width: 20px;
  height: 20px;
  margin: auto;
}

#optionbuton{
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
}

#endedOptionImg {
  width: 5px;
  height: 20px;
  margin-bottom: 5px;
}

#hiddenOption {
  display: none;
  margin: auto;
}

.hiddenNote{
  margin-left: 42px;
  width: 300px;
}

#chartPanel {
  margin-right: auto;
  width: 500px;
}