
  
  .boxDati {
    width: 620px;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px; 
    text-align: center;
    background: #EBE8E4;
    border-radius: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    padding: 20px 40px 15px 40px;
    border-bottom: solid gray thin;
    color: #333333;
    
  }
  
  .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .immagine-profilo {
    padding-top: 25px;
      width: 50%;
      text-align: center;
  }
  
  
  .immagine-profilo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .immagine-profilo label {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    margin-top: 2px;
  }
  
  .dati-account {
      font-size: 19px;
      width: 50%;
      padding-top: 25px;
  }
  
  .editPencil {
      font-size: 18px;
      background-color: transparent;
      border: transparent
  }
  
  .editPasswordBtn{
    font-size: 15px;
    border:none;
    border-radius: 10px;
    padding: 4px 60px;
    cursor: pointer;
  }
  .deleteAccountBtn{
    font-size: 15px;
    border:none;
    border-radius: 10px;
    padding: 4px 60px;
    cursor: pointer;
  }
  .editUsername{
    font-size: 12px;
    border:none;
    border-radius: 10px;
    background-color: transparent;
    padding: 0px 4px;
    cursor: pointer;
    color: rgb(108, 105, 105)
  }
  
  .profileField{
    text-align: left;
    border-bottom: solid gray thin;
    margin-bottom: 5%;
}

.profileFieldNames{
    color: rgb(108, 105, 105);
}

input[type="text"] {
    width: 140px;
    border-color: transparent;
  }

  .popupPass {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px; 
    padding: 20px;
    background-color: #fefbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(82, 80, 80, 0.712);
  }

  #closePopup {
    position: fixed;
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
  }

  .resetImageBtn{
    font-size: 12px;
    border-width: 1px;
    border-radius: 10px;
    background-color: transparent;
    padding: 0px 8px;
    cursor: pointer;
    color: rgb(108, 105, 105)
  }

  .imageButton{
    text-align: left;
    padding-top: 2%;
    padding-left: 18%;
  }

  #usernameField:disabled {
    background-color: #f0f0f0;
   }

   #usernameField{
    margin-bottom: 5px;
    border-radius:10px;
   }

   .changePass{
    margin-top: 10px;
    border-radius: 6px;
    margin-left: 6px;
    border-color: rgb(197, 188, 188);
   }

   
   