.navbar {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    }


.container {
    margin-top: 66px;
    height: 95vh; /* Imposta l'altezza del contenitore alla dimensione della finestra del browser */
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    z-index: 1;
    position: absolute;
  }

#loginPanel {
    z-index: 2;
    position: relative;
    background-color: white;
    width: 400px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-color: rgba(0, 0, 0, 0.9);
    border-style: solid;

    
}

#submitForm {
    text-align: center;
    width: 100%;
    flex-direction: row;
}

.imgContainer {
    text-align: center;
    justify-content: center;
    width: 400px;
}

.imgAvatar {
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    cursor: default;
    box-shadow: 3px 3px 7px  rgba(0, 0, 0, 0.712);
  }

.loginButton {
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 7px  rgba(0, 0, 0, 0.712);
  }

#clearBtn {
    background-color: rgb(233, 44, 44);
}

#submitBtn {
    background-color: #04AA6D;
    margin-right: 10px;
}

.loginButton:hover {
    opacity: 0.7;
}

input[name="mailInput"] {
    margin-bottom: 7px;
    margin-top: 5px;
}

#passwordInput{
    margin-left: 42px;
}


input[type=text], input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

#visiblePassword {
    margin-left: 12px;
    width: 27px;
    height: 22px;
    cursor: pointer;
}

#rememberCheckbox {
    
}